* {
    font-family: 'Roboto', sans-serif;
}

.banner {
    height: 40vh;
}

.shorten-form {
    height: 40vh;    
}

footer {
    height: 20vh;
}

a:link {
    color: gray;
} 
a:visited {
    color: black;
}  
a:hover {
    color: black;
}
a:active {
    color: #5F6066;
}